# Specify filepatterns you want git to ignore.
temp.txt
temp.txt
@file-list.txt
include-pihole-blocklist-html.php
pihole-blocklist.html
todo.txt
test.txt
test-1.txt
test-2.txt
temp-1.txt
temp-2.txt
temp-3.txt
temp-4.txt
.DS_Store